:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: rgb(255, 255, 255);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  /* text-decoration: inherit; */
}

a:hover {
  color: #535bf2;
}

li {
  list-style: none;
}
body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

.fulaha {
  width: 650px;
  height: 704px;
}

.matter {
  display: flex;
  background-color: #f55a5a;
  width: 550px;
  height: 55px;
  justify-content: center;
  align-items: center;
  gap: 3px;
  color: white;
}

.matter > img {
  width: 24px;
  height: 24px;
  margin-right: 7px;
}

.matter > p {
  font-size: 1rem;
  font-weight: 500;
  font-family: Inter;
}

.light {
  display: flex;
  margin: 10px 0px;
  width: 550px;
  height: 100px;
}
.light > * + * {
  margin-left: 10px;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 120px;
}

.light > .save {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1;
  text-align: left;
}

.power {
  margin-top: -2px;
  font-weight: bold;
}
.fuji {
  font-weight: 30px;
  font-weight: bold;
  font-size: 20px;
}
.pic > img {
  width: 135px;
  height: 190px;
  border-radius: 5px;
}
.light > .save > .top {
  display: flex;
  gap: 10px;
}
.div {
  margin-top: -5px;
}

.ii {
  width: 12px;
}
